.header{
        height: 55px;    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        border-bottom-width:1px ;
        border-bottom-style: solid ;
        border-bottom-color:rgb(228,228,228) ;
        z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.ham-menu {
    margin-left: 24px;
    margin-right: 24px;
    height: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
}
.search-bar{
    width: 0;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.5);
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-style: solid;
        border-color: rgb(192, 192, 192);
        border-width: 1px;
        margin-left: -1px;
        margin-right: 10px;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
    
}

.search-icon{
    height: 25px;
}

.voice-search-button{
    height: 40px;
        width: 40px;
        border-radius: 20px;
        border: none;
        background-color: rgb(245,245,245);
}
.voice-search-icon{
    height: 25px;
        margin-top: 4px;

}

.right-section
{
    flex-shrink: 0;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.noti-icon{
    height: 25px;
        margin-top: 4px;

}
.apps-icon{
    height: 25px;
        margin-top: 4px;

}
.upload-icon{
    height: 25px;
        margin-top: 4px;

}
.profile-pic{
    height: 32px;
    border-radius: 16px;
}



.noti-icon-container{
    position: relative;
}

.noti-count{
    position: absolute;
    top: -2px;
    right:-5px;
    font-family: roboto,arial;
    font-size: 11px;
    color: white;
    background-color: red;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    border-radius: 10px;
}