            p{font-family: Arial;
            margin-top: 0px;}
            .title{
            
            font-weight: bold;
            font-size: 18px;
            width: 280px;
            line-height: 24px;
            margin-bottom: 5px;
            
        
            }
            .stats{
                font-size: 14px;
                color: rgb(98, 98, 98);       
                margin-bottom: 20px;
                
            }
            .author{
                font-size: 14px;
                color: rgb(98, 98, 98);        
                margin-bottom: 20px;
        
            }
            .desc{
                font-size: 14px;
                color: rgb(98, 98, 98);
                width: 280px;
                line-height: 22px;
                margin-bottom: 100px;
        
            }
            .apple{
                margin-bottom: 50px;
                font-size: 14px;
                background-color: red;
                color: white;
                text-align: center;
                padding-top: 18px;
                padding-bottom: 18px;
                
            }
            .shop-link{
                 cursor: pointer;
            }
            .shop-link:hover{
                text-decoration: underline;
            }